<% className = form_action.delete(:class) %>
<%= form_tag(form_action, :id => "#{form_type}_form", :enctype => "multipart/form-data", :class => className) do %>

  <%= render :partial => "form" %>

<% end %>
<% if current_user.name == 'admin' %>
  <%= form_tag(article_merge_path(@article.id)) do %>
    <div class=''>
      <h3><%= _("Merge Articles") %></h3>
      <%= "Article ID" %>
      <%= text_field_tag(:merge_with) %>
      <div>
      <%= submit_tag("Merge") %>
      </div>
    </div>
  <% end %>
<% end %>